<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="omx_base_radius" value="0.045" />
    <xacro:property name="omx_base_height" value="0.040" />
    <xacro:property name="omx_shoulder_radius" value="0.030" />
    <xacro:property name="omx_shoulder_height" value="0.0595" />
    <xacro:property name="omx_upper_arm_length" value="0.128" />
    <xacro:property name="omx_upper_arm_radius" value="0.020" />
    <xacro:property name="omx_forearm_length" value="0.124" />
    <xacro:property name="omx_forearm_radius" value="0.018" />
    <xacro:property name="omx_wrist_length" value="0.082" />
    <xacro:property name="omx_wrist_width" value="0.045" />
    <xacro:property name="omx_wrist_height" value="0.040" />
    <xacro:property name="omx_finger_length" value="0.060" />
    <xacro:property name="omx_finger_width" value="0.010" />
    <xacro:property name="omx_finger_height" value="0.018" />
    <xacro:property name="omx_finger_gap" value="0.042" />
    <xacro:property name="omx_upper_arm_pitch" value="${pi / 3.0}" />
    <xacro:property name="omx_forearm_pitch" value="${pi / 3.6}" />

    <xacro:macro name="open_manipulator_visual_arm" params="mount_x mount_y mount_z">
        <xacro:property name="arm_stack_top_z" value="${mount_z + omx_base_height + omx_shoulder_height}" />
        <xacro:property name="upper_half_x" value="${omx_upper_arm_length * sin(omx_upper_arm_pitch) / 2.0}" />
        <xacro:property name="upper_half_z" value="${omx_upper_arm_length * cos(omx_upper_arm_pitch) / 2.0}" />
        <xacro:property name="upper_tip_x" value="${mount_x + omx_upper_arm_length * sin(omx_upper_arm_pitch)}" />
        <xacro:property name="upper_tip_z" value="${arm_stack_top_z + omx_upper_arm_length * cos(omx_upper_arm_pitch)}" />
        <xacro:property name="forearm_half_x" value="${omx_forearm_length * sin(omx_forearm_pitch) / 2.0}" />
        <xacro:property name="forearm_half_z" value="${omx_forearm_length * cos(omx_forearm_pitch) / 2.0}" />
        <xacro:property name="forearm_tip_x" value="${upper_tip_x + omx_forearm_length * sin(omx_forearm_pitch)}" />
        <xacro:property name="forearm_tip_z" value="${upper_tip_z + omx_forearm_length * cos(omx_forearm_pitch)}" />

        <visual>
            <geometry>
                <cylinder radius="${omx_base_radius}" length="${omx_base_height}" />
            </geometry>
            <origin xyz="${mount_x} ${mount_y} ${mount_z + omx_base_height / 2.0}" rpy="0 0 0" />
            <material name="arm_graphite" />
        </visual>

        <visual>
            <geometry>
                <cylinder radius="${omx_shoulder_radius}" length="${omx_shoulder_height}" />
            </geometry>
            <origin xyz="${mount_x} ${mount_y} ${mount_z + omx_base_height + omx_shoulder_height / 2.0}" rpy="0 0 0" />
            <material name="arm_copper" />
        </visual>

        <visual>
            <geometry>
                <cylinder radius="${omx_upper_arm_radius}" length="${omx_upper_arm_length}" />
            </geometry>
            <origin xyz="${mount_x + upper_half_x} ${mount_y} ${arm_stack_top_z + upper_half_z}" rpy="0 ${omx_upper_arm_pitch} 0" />
            <material name="arm_sand" />
        </visual>

        <visual>
            <geometry>
                <cylinder radius="${omx_forearm_radius}" length="${omx_forearm_length}" />
            </geometry>
            <origin xyz="${upper_tip_x + forearm_half_x} ${mount_y} ${upper_tip_z + forearm_half_z}" rpy="0 ${omx_forearm_pitch} 0" />
            <material name="arm_graphite" />
        </visual>

        <visual>
            <geometry>
                <box size="${omx_wrist_length} ${omx_wrist_width} ${omx_wrist_height}" />
            </geometry>
            <origin xyz="${forearm_tip_x + omx_wrist_length / 2.0} ${mount_y} ${forearm_tip_z}" rpy="0 0 0" />
            <material name="arm_copper" />
        </visual>

        <visual>
            <geometry>
                <box size="${omx_finger_length} ${omx_finger_width} ${omx_finger_height}" />
            </geometry>
            <origin xyz="${forearm_tip_x + omx_wrist_length + omx_finger_length / 2.0} ${mount_y + omx_finger_gap / 2.0} ${forearm_tip_z}" rpy="0 0 0" />
            <material name="arm_graphite" />
        </visual>

        <visual>
            <geometry>
                <box size="${omx_finger_length} ${omx_finger_width} ${omx_finger_height}" />
            </geometry>
            <origin xyz="${forearm_tip_x + omx_wrist_length + omx_finger_length / 2.0} ${mount_y - omx_finger_gap / 2.0} ${forearm_tip_z}" rpy="0 0 0" />
            <material name="arm_graphite" />
        </visual>
    </xacro:macro>

</robot>
